<style>
    div[data-role='content']>a {
        margin: 5px;
        display:inline-block;
        width: 100px;
    }
</style>

<a href="test">test</a>
<a href="test/text">test/text</a>
<a href="test/json">test/json</a>
<a href="test/req">test/req</a>

<br /><br />
<div>view:index/index</div>